{% extends 'main/base.html' %}

{% block title %}
Create New List 
{% endblock %}

{% block content %}
<h3>Create page</h3>
<form method="post" action="/create/" class="form-group">
    <!-- required security measure to succesfully submit a form -->
    {% csrf_token %} 
    <!-- form.as_p (paragraph, vertical)
    form.as_table (table, horizontal)
    form.as_ul (unorganized list, vertical with bullets)  -->
    <div class="input-group mb-3">
        <div class="input-group-prepend" >
            <button type="submit" name="save" class="btn btn-success">
                Create New
            </button>
        </div>
        {{form.name}}
    </div>
</form>
{% endblock %}